[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "sbfc"]
	path = sbfc
	url = https://github.com/cran/sbfc
	shallow = true
	registered = true
